<footer class="containerFooter mt-auto">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="">Bản quyền thuộc về AloApp</div>
            <div class="">Liên hệ: AloApp@gmail.com</div>
            <div class="">Chính sách điều khoản và dữ liệu</div>
        </div>
    </div>
</footer>