
<div class="border border-primaryer rounded container mt-4" >
    <div class="container">
        
        <div class="form-group row">
            <div class="col-sm mb-2 auth-form__group">
                <label for="user">Tên đăng nhập</label>
                <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" id="usernameForgotPassword" name="usernameForgotPassword" rules="required|notSpace|allAlpha">
                <span class="form-message"></span>
            </div>
            <div class="col-sm mb-2 auth-form__group">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Nhập email đã đăng kí" id="emailForgotPassword" aria-describedby="emailHelp" name="emailForgotPassword" 
                rules="required|email">
                <span class="form-message"></span>
            </div>
        </div>
    </div>
</div>