
<div class="border border-primaryer rounded container mt-4" >
    <div class="container">

        <div class="form-group row">
            <div class="col-sm mb-2 auth-form__group">
                <label for="user">Tên đăng nhập</label>
                <input type="text" class="form-control" id="usernameForgotPassword" name="usernameForgotPassword" rules="required|allAlpha|notSpace|existName">
                <span class="form-message"></span>
            </div>
            <div class="col-sm mb-2 auth-form__group">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Nhập email đã đăng kí tài khoản" id="email" aria-describedby="emailHelp" name="email" 
                rules="required|email|existEmail">
                <span class="form-message"></span>
            </div>
        </div>
    </div>
</div>