<header class="containerHeader sticky-top" id="headerMain">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a href="/"><i class="fab fa-facebook-messenger logoApp nav-link"></i></a>
                <a class="navbar-brand nav-item" href="/">AloApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        {{#if user}}
                            <li class="nav-item">
                                <a class="nav-link" href="/me/profile">{{user.displayName}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login/logout">Đăng xuất</a>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/login" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/registers" data-bs-toggle="modal" data-bs-target="#registersModal">Đăng kí</a>
                            </li>
                        {{/if}}
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>