<div class="border border-primaryer rounded mt-4 signIn">
    <div class="formLogin container">
        <div class="form-group row mb-2 auth-form__group">
            <label for="user">Tên đăng nhập</label>
            <input type="text" class="form-control" id="usernameLogin" name="usernameLogin" rules="required">
            <span class="form-message"></span>
        </div>
    
        <div class="form-group row mb-2 auth-form__group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="passwordLogin" name="passwordLogin" rules="required">
            <span class="form-message"></span>
        </div>

        <div class="form-group d-flex algin-items-center justify-content-end">
            <a href="/login/forgot" class="">Quên mật khẩu</a>&nbsp; | &nbsp; 
            <a href="/login/help">Cần trợ giúp?</a>
        </div>
    </div>
</div>