
<div class="border border-primaryer rounded signUp container mt-4" >
    <div class="container">

        {{!-- <div style="font-size: 30px; text-align: center;" class="row-lg">Tạo tài khoản mới</div> --}}

        <div class="form-group row">
            <div class="col-sm mb-2 auth-form__group">
                <label for="surname">Tên hiển thị</label>
                <input type="text" class="form-control" id="displayName" name="displayName" rules="required">
                <span class="form-message"></span>
            </div>
            <div class="col-sm mb-2 auth-form__group">
                <label for="user">Tên đăng nhập</label>
                <input type="text" class="form-control" id="usernameRegister" name="usernameRegister" rules="required|allAlpha|notSpace|existName">
                <span class="form-message"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm mb-2 auth-form__group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="passwordRegister" name="passwordRegister" rules="required|min:8|notSpace|alphaNum">
                <span class="form-message"></span>
            </div>
            <div class="col-sm mb-2 auth-form__group">
                <label for="password">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="repasswordRegister" name="repasswordRegister" rules="required|min:8|notSpace|alphaNum|equal">
                <span class="form-message"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm mb-2 auth-form__group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" 
                rules="required|email|existEmail">
                <span class="form-message"></span>
            </div>
            <div class="col-sm mb-2 auth-form__group">
                <label for="numberPhone">Số điện thoại</label>
                <input type="text" class="form-control-file form-control" id="numberPhone" name="numberPhone"> 
                <span class="form-message"></span>
            </div>
        </div>

        <div class="wrapBtnRegister container">
            {{!-- <div class="faceGg col-sm d-sm-flex align-items-center justify-content-between row">
                <a href="" class="facebook btn mb-2 col-sm me-md-2">
                    <i class="fab fa-facebook"></i>&nbsp;Đăng kí với Facebook
                </a>
                <a href="" class="google btn mb-2 col-sm ms-md-2">
                    <i class="fab fa-google"></i>&nbsp;Đăng kí với Google
                </a>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between row">
                <a type="button" class="btn btn-secondary btnBack mb-2 col-sm me-md-2" href="/">Trở về</a>
                <button type="submit" class="btn btn-primary mb-2 col-sm btnRegister ms-md-2">Đăng kí</button>
            </div> --}}
        </div>
    </div>
</div>