<div class="container">
    <h2 class="text-center ">AloApp - kết nối mọi người chưa bao dễ dàng như thế!!!</h2>
    <div class="">
        <div class="intro text-center text-secondary">
            Ra mắt năm 2021, 
            Ứng dụng AloApp được xây dựng nhằm cung cấp cho người sử dùng những trải nghiệm dễ dàng,<br>
            an toàn và nhanh chóng khi sử dụng.
            Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm trong việc giao tiếp trực tuyến là hết sức quan trọng.<br>
            Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại AloApp.
        </div>
        <div class="row mt-5">
            <div class="content col-4">
                <h3 class="text-center">
                    Mục tiêu của chúng tôi
                </h3>
                <p>
                    Chúng tôi tin tưởng vào sức mạnh của công nghệ và mong muốn góp phần làm cho thế
                    giới trở nên tốt đẹp hơn bằng việc kết nối cộng đồng.
                </p>
            </div>
            <div class="content col-4">
                <h3 class="text-center">
                    Vị Trí Của Chúng Tôi
                </h3>
                <p>
                    Đối với người dùng AloApp mong muốn mang đến trải nghiệm tốt nhất cho cộng đồng.
                </p>
            </div>
            <div class="content col-4">
                <h3 class="text-center">
                    Phong Cách Làm Việc Của Chúng Tôi
                </h3>
                <p>
                    Vui vẻ và Đồng lòng.
                    Đây là nổi bật trong từng bước đường phát triển của AloApp.
                </p>
            </div>
        </div>

    </div>
</div>
<script src="/assets/js/validator.js"></script>