<div class="container">
      <div class="container-fluid">
        <div class="d-md-flex justify-content-between align-items-center text-center">
            <form action="" id="formSearch">
                <input class="form-control mr-sm-2 rounded-pill shadow-none d-none d-md-block" type="search" 
                   id="inputSeach" placeholder="Tìm kiếm" aria-label="Search">
            </form>
            <div class="d-flex justify-content-between d-lg-none">
                <a href="" class="me-4" id="requestAddFriend">Yêu cầu kết bạn</a>
                <a href="" id="findFriends">Tìm kiếm bạn bè</a>
            </div>
        </div>
    </div>
    <div class="row border-top">
        <div class="col-xs-12 col-lg-4 scrollable-col" id="colLeft">
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 friendItems">
                <div class="d-flex justify-content-md-evenly justify-content-lg-start">
                    <img src="/assets/images/picachu.jpg" alt="hinh anh" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mt-3 me-3">Chấp nhận</button>
                            <button type="button" class="btn btn-secondary mt-3">Xóa lời mời</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8 col-md-12 scrollable-col d-none d-lg-block" id="colRight">
           <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
            <div class="friendItems d-flex align-items-center justify-content-between border-bottom pb-2 pt-2">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded-circle">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Đã kết bạn hay chưa
                        </div>
                    </div>
                </div>
                <i class="fas fa-user-plus cursor"></i>
            </div>
        </div>
        
    </div>
</div>
<script>
    $(document).ready(function(){
        //$('header').css('display','none');
        $('footer').css('display','none');
    });
    $("#findFriends").on("click",function(e){
        e.preventDefault();
        $('#inputSeach').removeClass('d-none');
        $("#colRight").removeClass("d-none");
        $("#colRight").removeClass("d-lg-block");
        $("#colLeft").css("display","none");
        $("#colRight").css("display","block");

    });
    $("#requestAddFriend").on("click",function(e){
        e.preventDefault();
        $('#inputSeach').addClass('d-none');
        $("#colRight").css("display","none");
        $("#colLeft").css("display","block");
    });
    
</script>