
<div class="rounded container mt-4" >
    <div class="container">
        <div class="modal fade" id="forgotPasswordModalAfterVerify" tabindex="-1" aria-labelledby="forgotPasswordModalAfterVerifyLabel" aria-hidden="true">
            <form class="modal-dialog modal-dialog-centered" id="formForgotPasswordAfterVerify" method="POST" action="/forgotPasswordAfterVerify">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="forgotPasswordAfterVerify">Thay đổi mật khẩu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="border border-primaryer rounded container mt-4" >
                            <div class="container">
                                <form action="">
                                    <div class="form-group row">
                                        <div class="col-sm mb-2 auth-form__group">
                                            <label for="password">Mật khẩu mới</label>
                                            <input type="password" class="form-control" id="passwordNew" name="passwordNew" rules="required|min:8|notSpace|alphaNum">
                                            <span class="form-message"></span>
                                        </div>
                                        <div class="col-sm mb-2 auth-form__group">
                                            <label for="password">Nhập lại mật khẩu mới</label>
                                            <input type="password" class="form-control" id="repasswordNew" name="repasswordNew" rules="required|min:8|notSpace|alphaNum|equalNewPassword">
                                            <span class="form-message"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="wrapBtnForgotPasswordAfterVerify container">
                            <div class=" d-sm-flex align-items-center justify-content-between row">
                                <button type="button" class="btn btn-secondary btnBack mb-2 col-sm"
                                    data-bs-dismiss="modal">Trở về</button>
                                <button type="submit" id="btnForgotPasswordAfterVerify" class="btn btn-primary mb-2 col-sm">Đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
<script src="/assets/js/validator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(window).on('load', function() {
        $('#forgotPasswordModalAfterVerify').modal('show');
        {{#if username}}
            var username =`{{username}}`;
        {{/if}}
        {{#if email}}
            var email =`{{email}}`;
        {{/if}}

        var formForgotPasswordAfterVerifyCheck = Validator("#formForgotPasswordAfterVerify");

        $('#btnForgotPasswordAfterVerify').click(function(ev){
            var passwordNew = $('#passwordNew').val();
            var formForgotPasswordAfterVerifyCheck = Validator("#formForgotPasswordAfterVerify");
            if(formForgotPasswordAfterVerifyCheck) {
                ev.preventDefault();
                if(username && email) {
                    var hashPassword = CryptoJS.MD5(passwordNew).toString();
                    var formData ={username,email, password: hashPassword};
                $.post('/login/changeAfterVerifyForgotPassword',formData,async function(data, status){
                    if(data == 'thanhcong' && status == 'success'){
                        await swal({
                            title: "Thông báo",
                            text: "Thay đổi mật khẩu thành công",
                            icon: "success",
                            button: "Hoàn thành",
                        });
                        $("#forgotPasswordModal").modal("hide");
                        window.location.href ='/';
                    }
                    else{
                        swal({
                            title: "Thông báo",
                            text: "Có lỗi khi đổi mật khẩu, hãy thử lại!",
                            icon: "error",
                            button: "Trở lại",
                        });
                    }
                });
                }
                
            }
        });

    });
</script>