<div class="container">
    <div class="">
        <div class="container-fluid">
            <div class="d-md-flex justify-content-between align-items-center text-center">
                <h2>Bạn bè(399 bạn bè)</h2>
                <form action="">
                    <input class="form-control mr-sm-2 rounded-pill shadow-none" type="search"
                        placeholder="Tìm kiếm bạn" aria-label="Search">
                </form>
                <div class="d-flex justify-content-between">
                    <a href="" class="me-5">Lời mời kết bạn</a>
                    <a href="/me/findFriends">Tìm bạn bè</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container contentCol2 border-top  w-sm-100 w-xs-100 w-md-100 w-lg-75 w-xl-75 d-block mx-auto mb-auto">
        <div class="row mb-4">
            <div class="friendItems mb-4 d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
            <div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
        </div>
        <div class="row mb-4">
            <div class="friendItems mb-4 d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
            <div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
        </div>
        <div class="row mb-4">
            <div class="friendItems mb-4 d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
            <div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
        </div>
        <div class="row mb-4">
            <div class="friendItems mb-4 d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
            <div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
        </div>
        <div class="row mb-4">
            <div class="friendItems mb-4 d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
            <div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                    <div class="ms-3">
                        <div class="displayName">
                            Nguyễn Nhật Tân
                        </div>
                        <div class="statusOnline">
                            Trạng thái
                        </div>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h iconTripleDotted"></i>
            </div>
        </div>
    </div>
</div>