<div class="container">
    <div class="">
        <div class="container-fluid">
            <div class="d-md-flex justify-content-between align-items-center text-center">
                <h2>Bạn bè({{totalFriends}} bạn bè)</h2>
                <div>
                    <input class="form-control mr-sm-2 rounded-pill shadow-none" type="search"
                        placeholder="Tìm kiếm bạn" aria-label="Search" id="inputFindFriend">
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/me/requestFriends" class="me-5">Lời mời kết bạn({{totalWaitAcceptFriends}})</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container contentCol2 border-top  w-sm-100 w-xs-100 w-md-100 w-lg-75 w-xl-75 d-block mx-auto mb-auto" id="findFriendInList">
        {{{renderListFriends listFriends}}}
    </div>
    <div class="container contentCol2 border-top  w-sm-100 w-xs-100 w-md-100 w-lg-75 w-xl-75 d-block mx-auto mb-auto" id="findFriendInListAfterEnter">
    </div>
</div>
<script src="/assets/js/validator.js"></script>
<script>
    
    $('.wrapDeleteFriend').each(function(){
        var status=0;
        var thisWrap =$(this);
        $(this).click(function(e){
            var thisWrapDeleteFriend = thisWrap;
            if(status==0){
                $(this).children('.btnDeleteFriend').removeClass('dropdownHidden');
                $(this).children('.btnDeleteFriend').addClass('dropdownShow');
                $('.btnDeleteFriend').click(function(e){
                    var idDelete = $(this).attr('id');
                    swal({
                        title: "Cảnh báo!",
                        text: "Bạn có chắc muốn xóa người này?",
                        icon: "warning",
                        buttons: ["Hủy bỏ", "Xóa bạn"],
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.post('/me/deleteFriend',{idFriendDelete: idDelete},function(data,status){
                                if(data!='err'){
                                    swal("Đã xóa thành công!", {
                                        icon: "success",
                                    })
                                    .then(()=>{
                                        thisWrapDeleteFriend.html('<p>Đã xóa bạn</p>');
                                    })
                                }
                                else{
                                    swal("Có lỗi xảy ra khi xóa!", {
                                        icon: "error",
                                    });
                                }
                            });
                        } 
                        else {
                            swal("Đã hủy xóa");
                        }
                    });
                });
                status=1;
            }
            else{
                $(this).children('.btnDeleteFriend').addClass('dropdownHidden');
                $(this).children('.btnDeleteFriend').removeClass('dropdownShow');
                status=0;
            }

        });
    })
    
    $('#inputFindFriend').keyup(function(e){
        $('#findFriendInListAfterEnter').html('');
        var findFriend = $(this).val();
        if(findFriend.length>0){
            $('#findFriendInList').addClass('d-none');
        }
        else{
            $('#findFriendInList').removeClass('d-none');
        }
        if(e.keyCode == 13){
            $.post('/me/findFriendInListFriends',{findFriend}, function(listFriends,status){
                //alert(listFriends);
                if(status == 'success' && listFriends.length > 0){
                    var strTotal=``;
                    if(listFriends.length>0) strTotal=`<div class="row mb-4">`;
                    listFriends.forEach(function (friend, i) {
                        
                            if(i%2==0 && i!=listFriends.length-1){
                                strTotal+=`<div class="friendItems mb-4 mb-md-0 mb-lg-0 d-flex align-items-center col-md-6 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="${friend.avatar}" alt="" style="width:80px;height:80px;" class="rounded">
                                        <div class="ms-3">
                                            <div class="displayName">
                                                ${friend.displayName}
                                            </div>
                                            <div class="statusOnline">
                                                Bạn bè
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapDeleteFriend">
                                        <i class="fas fa-ellipsis-h iconTripleDotted cursor"></i>
                                        <div id=${friend._id} class="btnDeleteFriend cursor dropdownHidden fw-bold text-danger">Xóa bạn</div>
                                    </div>
                                </div>`;
                            }
                            else if(i%2==0 && i==listFriends.length-1){
                                strTotal+=`<div class="friendItems mb-4 mb-md-0 mb-lg-0 d-flex align-items-center col-md-6 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="${friend.avatar}" alt="" style="width:80px;height:80px;" class="rounded">
                                        <div class="ms-3">
                                            <div class="displayName">
                                                ${friend.displayName}
                                            </div>
                                            <div class="statusOnline">
                                                Bạn bè
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapDeleteFriend">
                                        <i class="fas fa-ellipsis-h iconTripleDotted cursor"></i>
                                        <div id=${friend._id} class="btnDeleteFriend cursor dropdownHidden fw-bold text-danger">Xóa bạn</div>
                                    </div>
                                </div>
                                </div>`;
                            }
                            else{
                                strTotal+=`<div class="friendItems d-flex align-items-center col-md-6 justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="/assets/images/picachu.jpg" alt="" style="width:80px;height:80px;" class="rounded">
                                                <div class="ms-3">
                                                    <div class="displayName">
                                                        Nguyễn Nhật Tân
                                                    </div>
                                                    <div class="statusOnline">
                                                        Trạng thái
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrapDeleteFriend">
                                                <i class="fas fa-ellipsis-h iconTripleDotted cursor"></i>
                                                <div id=${friend._id} class="btnDeleteFriend cursor dropdownHidden fw-bold text-danger">Xóa bạn</div>
                                            </div>
                                        </div>
                                    </div>`;
                                strTotal+=`<div class="row mb-4">`;
                            }
                        });
                    $('#findFriendInListAfterEnter').append(strTotal);
                    if($(this).val().length ==0){
                        $('#findFriendInList').removeClass('d-none');
                        $('#findFriendInListAfterEnter').html('');
                    }
                }
                else{
                    $('#findFriendInListAfterEnter').html('<h2 class="text-center">Không tìm thấy</h2>');
                   
                }
            });
        }
    });
</script>