<div class="containerBody">

    <div class="container">
        <div class="container">
            <div class="row">
                <a class="col-sm border itemFunctions" href="/me/groupChat">
                    <i class="fas fa-users iconFunctions"></i></i><br>
                    Trò chuyện nhóm
                </a>
                <a class="col-sm border itemFunctions" href="/me/chat">
                    <i class="fas iconFunctions fa-user-friends"></i><br>
                    Trò chuyện
                </a>
                <a class="col-sm border itemFunctions" href="/me/friends">
                    <i class="far fa-address-book iconFunctions"></i></i><br>
                    Bạn bè
                </a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <a class="col-sm border itemFunctions" href="/findFriends">
                    <i class="fas fa-search iconFunctions"></i><br>
                    Tìm kiếm bạn bè
                </a>
                <a class="col-sm border itemFunctions" href="/me/profile">
                    <i class="fas fa-user-alt iconFunctions"></i><br>
                    Trang cá nhân
                </a>
                <a class="col-sm border itemFunctions" href="/about">
                    <i class="fas fa-info-circle iconFunctions"></i></i><br>
                    Thông tin sản phẩm
                </a>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script src="/assets/js/validator.js"></script>