    <div class="containerBody">
        <div class="container">
            <div class="row">
                <div class="col-sm border itemFunctions">
                    <i class="fas iconFunctions fa-video"></i><br>
                    Gọi videocall
                </div>
                <div class="col-sm border itemFunctions">
                    <i class="fas iconFunctions fa-phone-volume"></i><br>
                    Gọi thoại
                </div>
                <div class="col-sm border itemFunctions">
                    <i class="far iconFunctions fa-comments"></i></i><br>
                    Nhắn tin
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm border itemFunctions">
                    <i class="fas iconFunctions fa-user-friends"></i><br>
                    Nhắn tin nhóm
                </div>
                <div class="col-sm border itemFunctions">
                    <i class="fas iconFunctions fa-tv"></i><br>
                    Chia sẻ màn hình
                </div>
                <div class="col-sm border itemFunctions">
                    <i class="fas iconFunctions fa-search-location"></i><br>
                    Tìm bạn bè xung quanh
                </div>
            </div>
        </div>
    </div>