<div class="row">

    <div class="col border">
        
        <div class="d-flex justify-content-between">
            <div>
                <i class="fas fa-user-tie"></i> Chat
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-h"></i></a>&nbsp;

                <a href="#"><i class="fas fa-video"></i></a>&nbsp;

                <a href="#"><i class="far fa-edit"></i></a>
            </div>
        </div>

    </div>


    <div class="col-6 border d-none d-sm-block">

        <div class="d-flex justify-content-between">
            <div>
                <i class="fas fa-user-tie"></i> Name

                <div>online</div>
            </div>
            <div>
                <a href="#"><i class="fas fa-phone-alt"></i></a>&nbsp;

                <a href="#"><i class="fas fa-video"></i></a>&nbsp;

                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>

    </div>



    <div class="col border d-none d-lg-block align-center">

        <div>
            <div>
                img
            </div>
            <div>
                name
            </div>
            <div>
                online
            </div>
        </div>

    </div>


</div>