
<div class="border border-primaryer rounded signUp container mt-4 w-sm-100 w-md-75 w-lg-50 w-xl-50 w-xs-100" >
    <form class="container">

        {{!-- <div style="font-size: 30px; text-align: center;" class="row-lg">Tạo tài khoản mới</div> --}}

        <div class="form-group row">
            <div class="col-sm mb-2">
                <label for="surname">Tên hiển thị</label>
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
            <div class="col-sm mb-2">
                <label for="user">Tên đăng nhập</label>
                <input type="text" class="form-control" id="user" name="user">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm mb-2">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="col-sm mb-2">
                <label for="password">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm mb-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            </div>
            <div class="col-sm mb-2">
                <label for="file">Ảnh đại diện</label>
                <input type="file" class="form-control-file form-control" id="file" name="file"> 
            </div>
        </div>

        <div class="wrapBtnRegister container">
            <div class="faceGg col-sm d-sm-flex align-items-center justify-content-between row">
                <a href="" class="facebook btn mb-2 col-sm me-md-2">
                    <i class="fab fa-facebook"></i>&nbsp;Đăng nhập với Facebook
                </a>
                <a href="" class="google btn mb-2 col-sm ms-md-2">
                    <i class="fab fa-google"></i>&nbsp;Đăng nhập với Google
                </a>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between row">
                <a type="button" class="btn btn-secondary btnBack mb-2 col-sm me-md-2" href="/">Trở về</a>
                <button type="submit" class="btn btn-primary mb-2 col-sm btnRegister ms-md-2">Đăng kí</button>
            </div>
        </div>
    </form>
</div>