<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NodeJS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="shortcut icon" href="#">
    </head>
    <body >
        <div class="border border-primaryer rounded mt-3 signIn col-sm-5 col-12">
        <form class="">

            <div class="form-group">
                <label for="user">Tên đăng nhập</label>
                <input type="text" class="form-control" id="user" name="user">
            </div>
        
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="form-group" style="text-align: right;">
                <a href="#" >Quên mật khẩu</a>&nbsp;|&nbsp;<a href="#">Cần trợ giúp?</a>
            </div>

            <div class="wrapBtnRegister row">
				<div class="faceGg col-sm d-sm-flex">
					<a href="" class="facebook btn w-100">
						<i class="fab fa-facebook"></i>&nbsp;Đăng nhập với Facebook
					</a>
					<a href="" class="google btn w-100">
						<i class="fab fa-google"></i>&nbsp;Đăng nhập với Google
					</a>
				</div>
				<div class="btnBackAndRegister col-sm">
					<a type="button" class="btn btn-secondary btnBack" href="#">Trở về</a>
					<button type="submit" class="btn btn-primary">Đăng kí</button>
				</div>
             </div>
        </form>
        </div>
        <script src="https://kit.fontawesome.com/6734fc4474.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>