<div class="container" id="container">
    <button class="btn btn-primary" id="btnVideoCall">
        Goi
    </button>
    <button  class="btn btn-danger" id="btnCloseCall">
        ket thuc
    </button>
    <div class="row" id='row'>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="//sdk.twilio.com/js/video/releases/2.18.1/twilio-video.min.js"></script>
<script src="/assets/js/validator.js"></script>
<script>
    
    
    
</script>